.main-page {
    width: 2000px;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #2ecc71;
    padding: 22px 410px 0 420px;
}

.header__logo {
    width: 133px;
    height: 38px;
    margin-right: 334px; 
}

.header__button {
    color: #2ecc71;
    height: 22px;
    border-radius: 21px;
    background-color: #ffffff;
    padding: 10.5px 0;
    margin-right: 0px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    width: 140px;
}

.header__menu {
    padding: 0; 
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 52px;
}

.menu__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2ecc71;
    background-image: url("/Git/repository/edu-layouts/static/images/welcome/fruits.png");
    background-position: -150px 17px;
    background-repeat: no-repeat;
    padding: 77px 410px 0 420px;
}

.welcome__main {
    justify-content: flex-start;
    margin-top: 120px;
    
}

.main__icon {
    width: 111px;
    height: 111px;
    border-radius: 25%;
    background-color: #2ecc71;
    background-image: url("/Git/repository/edu-layouts/static/images/welcome/icon.png");
    background-repeat: no-repeat;
    margin-bottom: 66px;
}

.main__content {
    margin-bottom: 61px;
}

.title {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 48px;
    margin-bottom: 26px;
    font-weight: normal;
}

.title_white {
    color: #f4f4f4;
    font-size: 62px;
}

.title_bold {
    font-weight: bold;
}

.text {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    line-height: 32px;
}

.text_white {
    color: #f4f4f4;
}

.main__buttons {
    display: flex;
}

.buttons__button-google {
    width: 137px;
    height: 46px;
    background-image: url("/Git/repository/edu-layouts/static/images/welcome/downloadGoogle.png");
    background-repeat: no-repeat;
    margin-right: 30px;
}

.buttons__button-appstore {
    width: 130px;
    height: 46px;
    background-image: url("/Git/repository/edu-layouts/static/images/welcome/downloadAppstore.png");
    background-repeat: no-repeat;
}

.welcome__decal {
    justify-content: flex-end;
    background-image: url("/Git/repository/edu-layouts/static/images/welcome/photo1.png");
    background-repeat: no-repeat;
    height: 753px;
    width: 404px;
}

.main__item-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(":/Git/repository/edu-layouts/static/images/main/item-top/strawberry.png");
    background-repeat: no-repeat;
    background-position: 900px -136px;
    padding: 92px 410px 100px 420px;
}

.decals__decal-1 {
    position: relative;
    width: 336px;
    height: 709px;
    z-index: 2;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/phone.png")
}

.decals__icon {
    height: 59px;
    width: 59px;
    border: 3px solid #ffffff;
    background-color: #e7e7e7;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
}

.decals__icon-1 {
    top: 1106px;
    left: 794px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/icon1.png");
}

.decals__icon-2 {
    top: 1181px;
    left: 896px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/icon2.png");
}

.decals__icon-3 {
    position: absolute;
    z-index: 2;
    height: 90px;
    width: 90px;
    top: 1303px;
    left: 924px;
    border: 5px solid #ffffff;
    background-color: #2ecc71;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/icon3.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 4px rgba(50, 50, 50, 0.1); 
}

.decals__icon-4 {
    top: 1465px;
    left: 896px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/icon4.png");
}

.decals__icon-5 {
    top: 1540px;
    left: 794px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-top/icon5.png");
}

.decals__circle {
    position: absolute;
    left: 504px;
    top: 1119px;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    z-index: 1;
}

.item-top__content {
    margin-top: 245px;
}

.title_green {
    color: #2ecc71;
}

.main__item-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    width: 100%;
    padding-top: 116px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-middle/fruits.png");
    background-repeat: no-repeat;
    background-position: 230px 335px;
}

.item-middle__content {
    text-align: center;
    margin-bottom: 111px;
}

.item-middle__decals {
    display: flex;
    align-items: flex-end;
}

.item-middle__decal-1 {
    width: 253px;
    height: 451px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-middle//phone1.png");
    position: relative;
    left: 25px;
    z-index: 1;
}

.item-middle__decal-2 {
    width: 337px;
    height: 545px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-middle/phone2.png");
    z-index: 2;
}

.item-middle__decal-3 {
    width: 253px;
    height: 451px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-middle/phone3.png");
    position: relative;
    right: 25px;
}

.main__item-bottom {
    display: flex;
    justify-content: space-between;                                        
    margin: 150px 410px 140px 420px;
}

.item-bottom__content {
    margin-top: 114px; 
}

.item-bottom__infoblocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 400px;
}

.infoblocks__infoblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #efefef;
    border-radius: 10px;
    width: 265px;
    height: 105px;
    line-height: 20px;
}

.infoblocks__infoblock-name {
    color: #2ecc71;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.infoblocks__infoblock-description {
    color: #5a5a5a;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.infoblocks__infoblock-quantity {
    color: #2ecc71;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-bottom/dot.png");
    background-repeat: no-repeat;
    background-position: 36px 6px;
    white-space: pre;
}

.infoblocks__infoblock-time {
    color: #b4b4b4;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 17px;
} 

.infoblocks__infoblock-time_size {
    color: #b4b4b4;
    font-size: 16px;
    padding-left: 39px;
}

.infoblocks__infoblock-1 {
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-bottom/photo1.png");
    background-repeat: no-repeat;
    background-position: 17px 25px;
    padding-left: 132px;
    padding-right: 20px;
}

.infoblocks__infoblock-2 {
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-bottom/photo2.png");
    background-repeat: no-repeat;
    background-position: 14px 12px;
    width: 334px;
    height: 133px;
    padding-left: 162px;
    padding-right: 26px;
    line-height: 25px;
}

.infoblocks__infoblock-2-name {
    font-size: 20px;
}

.infoblocks__infoblock-2-description {
    font-size: 15px;
}

.infoblocks__infoblock-2-quantity {
    font-size: 15px;
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-bottom/dot.png");
    background-repeat: no-repeat;
    background-position: 46px 9px;
}

.infoblocks__infoblock-2-time {
    color: #2ecc71;
    font-size: 31px;
    line-height: 20px;
} 

.infoblocks__infoblock-2-time_size {
    color: #b4b4b4;
    font-size: 20px;
    padding-left: 49px;
}

.infoblocks__infoblock-3 {
    background-image: url("/Git/repository/edu-layouts/static/images/main/item-bottom/photo3.png");
    background-repeat: no-repeat;
    background-position: 9px 23px;;
    padding-left: 132px;
    padding-right: 20px;
}

.infoblocks__infoblock-3-time_color {
    color: #2ecc71
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #2ecc71;
    background-image: url("/Git/repository/edu-layouts/static/images/footer/fruits.png");
    background-position: -90px 55px;
    background-repeat: no-repeat;
}

.footer__content {
    padding-top: 113px;
    padding-bottom: 52px;
    text-align: center;
}


.footer__button {
    border-radius: 21px;
    background-color: #ffffff;
    color: #2ecc71;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold; 
    font-family: "Roboto", sans-serif;
    padding: 10.5px 85px;
    margin-bottom: 40px;
}
